<h1>Salut Salut, bienvenue sur notre super site de chats </h1><br><br/>
<p>Tu veux recevoir une photo de chat chaque jour ? Inscris toi <strong> <a href = 'users'>ici</a></strong></p>
<p>C'est vraiment top, pour te convaincre, voici une superbe photo de chat:</p>
<%= image_tag "chat.jpg" %>

